.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
}

.form {
  margin-top: -12rem;
}

.status {
  height: 8rem;
}

.error {
  align-self: flex-start;
  color: red;
}
