$height: 27.8rem;

.container {
  width: 72rem;
  height: $height;
  display: flex;
  border: 1px solid #dfe3e6;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
}

.rightContent {
  display: flex;
  flex-direction: column;
  padding: 2rem;
}

.title {
  font-weight: 600;
  margin-bottom: 1rem;
}

.overview {
  text-overflow: ellipsis;
  height: 14rem;
}

.imageContainer {
  width: 18.5rem;
  height: $height;
}

.image {
  width: 18.5rem;
  height: $height;
}

.addToWatchList {
  color: #0366d6;
  margin-top: 1rem;
  cursor: pointer;
}
