.container {
  display: flex;
  justify-content: space-between;
}

.iconsGroup {
  display: flex;
}

.icon {
  padding: 2rem 0;
  font-weight: 600;
}

.leftIcon {
  @extend .icon;
  padding-left: 4rem;
}

.rightIcon {
  @extend .icon;
  padding-right: 4rem;
}
